# Node modules
node_modules/

# Environment variable files
.env

# Logs
*.log
logs/

# Runtime files
pids/
*.pid
*.seed

# Dependency directories
jspm_packages/

# TypeScript v1 declaration files
typings/

# Compiled source
dist/
build/

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Other files
*.tgz
